<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="DataCollectorConfiguration"
		         type="Microsoft.VisualStudio.TestTools.Execution.DataCollectorConfigurationSection,
				 Microsoft.VisualStudio.QualityTools.ExecutionCommon,
				 Version=4.0.0.0, Culture=neutral,
				 PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<DataCollectorConfiguration xmlns="http://microsoft.com/schemas/VisualStudio/TeamTest/2010">
		<DataCollector typeUri="datacollector://slickqa/SlickDataCollector/0.0.1">
			<DefaultConfiguration>
				<Url xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="">
					<Scheme>http</Scheme>
					<HostName/>
					<Port>8080</Port>
					<SitePath/>
				</Url>
				<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="">
					<Id />
					<Name />
				</Project>
				<Release xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="">
					<Id />
					<Name />
					<ProjectId />
				</Release>
				<BuildProvider xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="">
					<AssemblyName />
					<Directory />
					<TypeName />
					<MethodName />
				</BuildProvider>
				<Screenshot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="">
					<PreTest>false</PreTest>
					<PostTest>false</PostTest>
					<FailedTest>true</FailedTest>
				</Screenshot>
				<Plan xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="">
					<Id />
					<Name />
					<ProjectId />
				</Plan>
			</DefaultConfiguration>
		</DataCollector>
	</DataCollectorConfiguration>
</configuration>